.show {
    display: block !important;
}

@keyframes rotate180 {
    from {transform: rotate(0);}
    to {transform: rotate(180deg);}
}

@keyframes normal {
    from {transform: rotate(180deg);}
    to {transform: rotate(0);}
}

.rotate {
    animation-name: rotate180;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.normal {
    animation-name: normal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    rotate: 180;
}

.topnav {
    background-color: #28528e;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#dropdown-content {
    position: absolute;
    background-color: #28528e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hide {
    display: none;
}

#dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #447cc9;
    color: white;
}

#dropdown-content a:hover {
    background-color: #447cc9;
    color: black;
}


#dropbtnbtn {
    height: 15px;
    background-color: #28528e;
    border-radius: 50%;
    border: 0.5px solid #000;
    margin: 0;
    padding: 0;
    position: relative;
    top: 4px;
    left: 3px;
}

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive #dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

h1 {
    font-size: 30px;
    text-align: center;
}

.r6bg {
    background-image: url(images/peter/r6hatter.png);
}

.arkbg {
    background-image: url(images/balint/arkhatterblur.png);
}

body {
    margin-left: 500px;
    margin-right: 500px;
    background-repeat: no-repeat;
    color: aliceblue;
}

a {
    color: #66c0f4;
    text-decoration: none;
}

.rightcol {
    float: right;
}

.header {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 55%;
    padding: 5px;
    text-align: left;
}

.rightcol img {
    height: 151px;
    width: 324px;
}
.rightcol {
    float: right;
}
.leftcol {
    float: left;
}
.below {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 55%;
    padding: 5px;
    text-align: left;
}
.kepkozep {
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
