* {
    box-sizing: border-box;
}

.show {
    display: block !important;
}

@keyframes rotate180 {
    from {transform: rotate(0);}
    to {transform: rotate(180deg);}
}

@keyframes normal {
    from {transform: rotate(180deg);}
    to {transform: rotate(0);}
}

.rotate {
    animation-name: rotate180;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.normal {
    animation-name: normal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    rotate: 180;
}

.topnav {
    background-color: #28528e;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 5px 0 5px;
    width: 700px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #447cc9;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
}

#dropdown-content1, #dropdown-content2 {
    position: fixed;
    margin-top: -2px;
    background-color: #28528e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    
}

.hide {
    display: none;
}

#dropdown-content1 a, #dropdown-content2 a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 999;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #447cc9;
    color: white;
}

#dropdown-content a:hover {
    background-color: #447cc9;
    color: white;
}


#dropbtnbtn1, #dropbtnbtn2 {
    height: 15px;
    background-color: #28528e;
    border-radius: 50%;
    border: 0.5px solid #000;
    margin: 0;
    padding: 0;
    position: relative;
    top: 4px;
    left: 3px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.r6bg {
    background-image: url(images/peter/r6hatter.png);
}

.arkbg {
    background-image: url(images/balint/arkhatterblur.png);
}

body {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    color: aliceblue;
}

a {
    color: #66c0f4;
    text-decoration: none;
}

.header {
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.header, .card, .card2 {
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0, 0.7);
}

.rightcol img {
    height: 151px;
    width: 324px;
}

.rightcol {
    display: block;
    float: right;
}

.leftcol {
    display: block;
    float: left;
}

.kepkozep {
    padding: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: row;
    gap: 20px;
    width: 50%;
    padding: 20px;
}

.vflex {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 324px;
}

.card p {
    padding: 0;
    margin: 0;
}

.card2 {
    margin: auto;
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
