* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.vflex div p {
    padding: 7.5px;
}

.show {
    display: block !important;
    z-index: 999;
}

@keyframes rotate180 {from {transform: rotate(0);} to {transform: rotate(180deg);}}

@keyframes normal {from {transform: rotate(180deg);} to {transform: rotate(0);}}

.text {
    color: red;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.rotate {
    animation-name: "rotate180";
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.normal {
    animation-name: normal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    rotate: 180;
}

.topnav {
    background-color: #28528e;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 5px 0 5px;
    width: 700px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #447cc9;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

#dropdown-content1, #dropdown-content2 {
    position: absolute;
    margin-top: -2px;
    background-color: #28528e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);

}

.hide {
    display: none;
}

#dropdown-content1 a, #dropdown-content2 a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #447cc9;
    color: white;
}

#dropdown-content a:hover {
    background-color: #447cc9;
    color: white;
}

#dropbtnbtn1, #dropbtnbtn2 {
    height: 15px;
    background-color: #28528e;
    border-radius: 50%;
    border: 0.5px solid #000;
    margin: 0;
    padding: 0;
    position: relative;
    top: 3.3px;
    left: 3px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.r6bg,.arkbg, .subbg, .untbg, .mw2bg, .syndicatebg, .csgobg, .indexbg {
    background-color: #1b2838;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    min-width: 972px;
}

.r6bg {
    background-image: url(images/peter/r6bg.jpg);
}

.arkbg {
    background-image: url(images/balint/arkbg.jpg);
}

.subbg {
    background-image: url(images/balint/subbg.jpg);
}

.untbg {
    background-image: url(images/akos/unturned/untbg.jpg);
}
.mw2bg {
    background-image: url(images/peter/mw2bg.jpg);
}

.syndicatebg {
    background-image: url(images/balint/syndicatebg.jpg);
}

.csgobg {
    background-image: url(images/peter/csgobg.jpg);
}

.indexbg {
    background-image: url(images/akos/index/index_bg.png);
}

body {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    color: aliceblue;
}

a {
    color: #66c0f4;
    text-decoration: none;
}

.header {
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.header, .card2, .card, .indexcard {
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.5);
}

.rightcol img {
    height: 151px;
    width: 324px;
}

.rightcol {
    display: block;
    float: right;
}

.leftcol {
    display: block;
    float: left;
}

.kepkozep {
    padding: 10px;
}

.card, .indexcard {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
    flex-direction: row;
    gap: 20px;
    width: 50%;
    padding: 20px;
}

.vflex {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 324px;
}

.card p, .indexcard p {
    padding: 0;
    margin: 0;
}

.card2 {
    margin: auto;
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.Slides {
    display: none;
    position: relative;
}

.cursor {
    cursor: pointer;
}

.numbertext {
    display: none;
}

.row {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    min-width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
    display: initial;
}

.left {
    text-align: left;
}

.leftswipe {
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    position: absolute;
    left: -5px;
    top: 50%;
    width: 50px;
    height: 31.25px;
    rotate: 90deg;
}

.rightswipe {
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    position: absolute;
    right: -5px;
    top: 50%;
    width: 50px;
    height: 31.25px;
    rotate: -90deg;
}

.leftswipe:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

.rightswipe:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

.center {
    text-align: center;
}